body{
    margin: 0%;
}
.margin{
    background-color: rgb(71, 66, 66);
    color: azure;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.btn1{
    margin-left: 5%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom:15px;
    border: 3px solid black;
    background-image: linear-gradient(rgb(230, 108, 64),rgb(232, 201, 65));
    
}
.first-section{
    display: flex;
}
.first-div{
    max-width: 50%;
}
.second-div{
    max-width: 50%;
}
.first-img{
    width: 50%;
    margin-left:25% ;
    margin-top: 100px;
}